[submodule "taurus-executor"]
	path = taurus-executor
	url = https://github.com/taurus-stack/taurus-executor
[submodule "taurus-web"]
	path = taurus-web
	url = https://github.com/taurus-stack/taurus-web
[submodule "taurus-supervisor"]
	path = taurus-supervisor
	url = https://github.com/taurus-stack/taurus-supervisor
[submodule "taurus-scheduler"]
	path = taurus-scheduler
	url = https://github.com/taurus-stack/taurus-scheduler
[submodule "taurus-auth"]
	path = taurus-auth
	url = https://github.com/taurus-stack/taurus-auth
[submodule "taurus-portal"]
	path = taurus-portal
	url = git@github.com:taurus-stack/taurus-portal.git
[submodule "taurus-backend"]
	path = taurus-backend
	url = https://github.com/taurus-stack/taurus-backend.git
